body {
    background-color: #29524A;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: sans-serif;
    font-weight: 300;
}

h1 {
    font-weight: 400;
    border-bottom: solid #0d172a;
    padding-bottom: 10px;
}

/* the box for the title and button */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60%;
    padding: 30px;
    background-color: #B8DBD9;
    border-radius: 2rem;
} 

#passwordDisplay{
    border-radius: .5rem;
    font-weight: 200;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    height: 4rem;
    word-break: break-all;
    margin-bottom: 5%;
}

#settings {
    font-weight: 500;
    border-bottom: solid black;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 100px;
}


/* Uppercase toggle switch */
#useUppercase {
    -webkit-appearance: none;
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
}

#useUppercase::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
    top: 10px;
    left: 12px;
}

#useUppercase:checked {
    background-color: #08A045;
}

#useUppercase:checked::after {
    left: 70%;
}

/* Lowercase toggle switch */
#useLowercase {
    -webkit-appearance: none;
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
}

#useLowercase::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
    top: 10px;
    left: 12px;
}

#useLowercase:checked {
    background-color: #08A045;
}

#useLowercase:checked::after {
    left: 70%;
}


/* useSpecialCharacters toggle switch */
#useSpecialCharacters {
    -webkit-appearance: none;
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
}

#useSpecialCharacters::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
    top: 10px;
    left: 12px;
}

#useSpecialCharacters:checked {
    background-color: #08A045;
}

#useSpecialCharacters:checked::after {
    left: 70%;
}

/* useNumbers toggle switch */
#useNumbers {
    -webkit-appearance: none;
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
}

#useNumbers::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
    top: 10px;
    left: 12px;
}

#useNumbers:checked {
    background-color: #08A045;
}

#useNumbers:checked::after {
    left: 70%;
}

/* effect selectors for the generate password button */
.generateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

#generatePassword {
    background-color: #427760;
    border: 0 solid rgb(59, 59, 59);
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 0.5;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
    grid-column: span;
}

#generatePassword:hover {
    background-color: #08A045;
}

/* effect selectors for the Copy Password button */
.copyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

#copyButton {
    background-color: #427760;
    border: 0 solid rgb(59, 59, 59);
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 0.5;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
    grid-column: span;
}

#copyButton:hover {
    background-color: #08A045;
}