body {
    background-color: #edf6f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: sans-serif;
    font-weight: 300;
}

/* h1 selectors  */
h1 {
    font-weight: 400;
    border-bottom: solid #0d172a;
    padding-bottom: 10px;
}

/* the box for the title and button */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 60%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 2rem;
} 

/* This is where the password is displayed */
#passwordDisplay{
    border-radius: .5rem;
    font-weight: 200;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    height: 4rem;
    word-break: break-all;
    margin-bottom: 5%;
}

/* settings title */
#settings {
    font-weight: 500;
    border-bottom: solid black;
}

/* grid layout for settings and toggle switches */
.grid {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 100px;
}


/* Uppercase toggle switch */
#useUppercase {
    -webkit-appearance: none;
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
}

/* controls the small circle, it's positioning, colour and size */
#useUppercase::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
    top: 10px;
    left: 12px;
}

/* colour changes with check position */
#useUppercase:checked {
    background-color: #00bbf9;
}

/* position movement after check  */
#useUppercase:checked::after {
    left: 70%;
}

/* Lowercase toggle switch */
#useLowercase {
    -webkit-appearance: none;
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
}

/* controls the small circle, it's positioning, colour and size */
#useLowercase::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
    top: 10px;
    left: 12px;
}

/* colour changes with check position */
#useLowercase:checked {
    background-color: #00bbf9;
}

/* position movement after check  */
#useLowercase:checked::after {
    left: 70%;
}


/* useSpecialCharacters toggle switch */
#useSpecialCharacters {
    -webkit-appearance: none;
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
}

/* controls the small circle, it's positioning, colour and size */
#useSpecialCharacters::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
    top: 10px;
    left: 12px;
}

/* colour changes with check position */
#useSpecialCharacters:checked {
    background-color: #00bbf9;
}

/* position movement after check  */
#useSpecialCharacters:checked::after {
    left: 70%;
}

/* useNumbers toggle switch */
#useNumbers {
    -webkit-appearance: none;
    position: relative;
    width: 38px;
    height: 20px;
    border-radius: 25px;
    background-color: rgb(110, 110, 110);
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
}

/* controls the small circle, it's positioning, colour and size */
#useNumbers::after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    transition: left .3s;
    top: 10px;
    left: 12px;
}

/* colour changes with check position */
#useNumbers:checked {
    background-color: #00bbf9;
}

/* position movement after check  */
#useNumbers:checked::after {
    left: 70%;
}

/* effect selectors for the generate password button */
.generateButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

/* selector for the generate password button */
#generatePassword {
    background-color: #203c64;
    border: 0 solid rgb(59, 59, 59);
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 0.5;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
    grid-column: span;
}

/* changes colour when hovered over */
#generatePassword:hover {
    background-color: #3a6884;
}

/* effect selectors for the Copy Password button */
.copyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

/* selector for the copy password button */
#copyButton {
    background-color: #3c71bc;
    border: 0 solid rgb(59, 59, 59);
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: whitesmoke;
    cursor: pointer;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 0.5;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
    grid-column: span;
}

/* changes colour when hovered over */
#copyButton:hover {
    background-color: #38a1e3;
}